@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main{
    background-image: url(./../img/1966_Fender_Telecaster_body.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#main::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0D0D0D;
    opacity: .3;
    z-index: -1;
}
#main h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: #D9D7CC;
}
#main .cta{
    display: inline-block;
    padding: 10px 30px;
    color: #D9D7CC;
    background-color: transparent;
    border: 2px solid #735A0E;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease;
    transition-property:  background-color, color;
}
#main .cta:hover{
    color: #D9D7CC;
    background-color: #735A0E;
}